:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --postlistBorder: 1px solid lightgray;
}


p:last-child {
  margin-bottom: 0;
}


/* Header */
header .home a {
  font-weight: 800;
  font-size: var(--h4);
}

header a {
  color: var(--white);
}

header a:hover:after {
  width: 0;
}

.post-navigation {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.post-navigation li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  line-height: var(--tightLineHeight);
}

.post-navigation li:nth-child(2) {
  align-items: flex-end;
  text-align: end;
}

/* pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
} */
/* pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
} */
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  counter-increment: start-from -1;
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  border-left: var(--postlistBorder);
}
.postlist-item:before {
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  left: -25px;
  padding: 0.5rem;
  /* position: absolute;
  top: -0.4rem;
  left: -1.5rem;
  box-sizing: border-box; */
  margin-right: 0.5rem;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  font-weight: bold;
  border: var(--postlistBorder);
  background-color: #ffffff;
  border-radius: 50%;

}
.postlist-wrapper {
  margin: 0;
  margin-left: 2em;
  border-top: var(--postlistBorder);
  min-width: 80%;
}

.postlist-date,
.postlist-item:before {
  /* font-size: 0.8125em;  */
  color: var(--darkgray);
}


.postlist-date {
  word-spacing: -0.5px;
  text-transform: uppercase;
}
.postlist-link {
  display: inline-block;
  padding: 0;
  /*padding: 0.25em 0.1875em;  4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.postlist-description {
  line-height: 1.25;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tag-wrapper h2 {
  margin: 0;
}

.tag-wrapper .accordion-title {
  margin-left: 2em;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
}
.tag-cloud a {
  margin: 0.5em;
}

.post-tag {
  text-transform: uppercase;
  font-size: 70%; /* 10px /16 */
  padding: 3px 10px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--btnBgColor);
  color: var(--btnTextColor);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: var(--level-4);
  appearance: none;
  border: none;
  transition: 0.3s ease-in-out;
}

/* disable the tag hover */
/* TODO: Is this dupe? */
.post-tag:hover {
  background-color: var(--btnHover);
}
.post-tag:hover:after {
  width: 0;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Accordion Input/Label */
input.accordion-checkbox {
  display: none;
}

.accordion-title {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: var(--btnPrimary);
  border-radius: 3px;
  color: #FFF;
  transition: ease .5s;
}

.accordion-title:hover {
  background:var(--btnHover);
}

.accordion-content {
  background: #E2E5F6;
  padding: 10px 25px;
  border: 1px solid #A7A7A7;
  margin: 0 0 1px 0;
  border-radius: 3px;
}

input.accordion-checkbox + .accordion-title + .accordion-content {
  display: none;
}

input.accordion-checkbox:checked + .accordion-title + .accordion-content {
  display: flex;
}


/* Helpers */
.italics {
  font-style: italic;
}
.strong {
  font-weight: 700;
}


.subheader {
  margin: 0;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}
